{% extends 'base.html' %}
{% block title %} Recipes searcher {% endblock %}
{% block body %}
<h2 style="text-align: center"> <a href="/" style="text-decoration: none; color:red"> Recipes for you: </a></h2>
<div>
  
      {% for recipe in recipes %}
          <div class="col-12">
              <img src="{{recipe['image']}}" class="align-self-center mr-3" alt="..." width="100%" height="100%"><br />
            </div>
              <div class="media-body">
                  <h5 class="col-12"><a href="/recipe?id={{ recipe['id'] }}">{{ recipe['title'] }}</a></h5>
                      Your ingredients used? {{recipe['usedIngredientCount']}} <br>
                      How many missing ingredients? {{recipe['missedIngredientCount']}}  <br>
                      How long to make this recipe? {{recipe['maxReadyTime']}}  <br>
              </div>
          </li> <br>
      {% endfor %}
 
</div >
{% endblock %}