{% extends 'base.html' %}
{% block title %} Recipes searcher {% endblock %}
{% block body %}
<h2 style="text-align: center"> <a href="/" style="text-decoration: none; color:red"> Recipes for you: </a></h2>
<div>
    <div class="row">
      {% for recipe in recipes %}
          
            <div class="col-sm-4">
                <div class="card">
                    <a href="/recipe?id={{ recipe['id'] }}"><img src="{{recipe['image']}}" class="card-img-top" ></a>
                    
              <div class="card-body">
                  <h5 class="card-title"><a href="/recipe?id={{ recipe['id'] }}">{{ recipe['title'] }}</a></h5>
                      <p class="card-text">Your ingredients used? {{recipe['usedIngredientCount']}} <br>
                      How many missing ingredients? {{recipe['missedIngredientCount']}}  <br>
                        {% for missed in recipe['missedIngredients'] %}
                            - {{ missed.name }} <br />
                        {% endfor %}      
                        </p>                
                </div>
              </div>
            </div>
      {% endfor %}
          
        </div>
</div >
{% endblock %}