{% extends 'base.html' %}
{% block title %} Recipes searcher {% endblock %}
{% block body %}

<center>
  <h2 style="padding-top: 10%%;">
      Let's save some money! What's on sale? <br>
  </h2>
  <br><br>
  <form action="/recipes" method="POST">
      <div class="input-group mb-3" style="max-width: 75%;">
          <input type="text" class="form-control" placeholder="Apple, flour, sugar" aria-label="Ingridients" name="search">
        </div>            
        <button class="btn btn-success" type="submit" >Search</button>        
  </form>
</center>
{% endblock %}